on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - run: dotnet tool install --global dotnet-sonarscanner
    - run: dotnet tool install --global dotnet-coverage
    - name: Build and analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - run: |
        dotnet sonarscanner begin /k:"tpambor_nopCommerce" /o:"tpambor" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.cs.vscoveragexml.reportsPaths=coverage.xml
        dotnet build --no-incremental ./src/NopCommerce.sln
        dotnet-coverage collect 'dotnet test ./src/Tests/Nop.Tests/Nop.Tests.csproj' -f xml -o 'coverage.xml'
        dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
